<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout :: header"></head>
<body class="container">
    <div th:insert="menu :: menu"></div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>No.</th>
                <th>Owner ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="owner, index: ${owners}">
                <td th:text="${index.count}"></td>
                <td th:text="${owner.getOwnerId()}"></td>
                <td th:text="${owner.getFirstName()}"></td>
                <td th:text="${owner.getLastName()}"></td>
                <td>
<!--                    <a th:href="@{/owner3-edit/{ownerId}(ownerId=${owner.getOwnerId()})}" class="btn btn-primary btn-sm">Edit</a>-->
                    <a th:href="@{/owner3-edit(ownerId=${owner.getOwnerId()})}"
                       class="btn btn-primary btn-sm">Edit</a>
                    <a th:href="@{/owner3-delete(ownerId=${owner.getOwnerId()})}"
                       class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>