<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Owner Info</h1>
<span th:text="${name}"></span>
<br>
Owner ID:
<span th:text="${owner.getOwnerId()}"></span>
<br>
First Name :
<span th:text="${owner.getFirstName()}"></span>
<br>
Last Name :
<span th:text="${owner.getLastName()}"></span>
</body>
</html>