<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout :: header"></head>
<body class="container">
<div th:insert="menu :: menu"></div>

<h2>Car Information</h2>
<form method="post" action="/car-store">
    <input type="hidden" name="id"
           th:value="${car.getId()}">
    <div class="row">
        <div class="col-md-1">Brand</div>
        <div class="col-md-6">
            <input type="text" class="form-control" name="brand"
                   th:value="${car.getBrand()}">
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-1">Year</div>
        <div class="col-md-6">
            <input type="number" class="form-control" name="year"
                   th:value="${car.getYear()}">
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-1">Color</div>
        <div class="col-md-6">
            <input type="text" class="form-control" name="color"
                   th:value="${car.getColor()}">
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-1">Price</div>
        <div class="col-md-6">
            <input type="number" class="form-control" name="price"
                   th:value="${car.getPrice()}">
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-1">Model</div>
        <div class="col-md-6">
            <input type="text" class="form-control" name="model"
                   th:value="${car.getModel()}">
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-1">Owner</div>
        <div class="col-md-6">
            <select class="form-select" name="owner.ownerId">
                <option value="xx">-- Please Choose --</option>
                <option th:each="owner: ${owners}"
                        th:text="${owner.getFirstName()}"
                        th:value="${owner.getOwnerId()}"
                        th:selected="${owner.getOwnerId() == car.getOwner().getOwnerId()}"></option>
            </select>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <input type="submit" class="btn btn-primary" value="Submit">
        </div>
    </div>
</form>

<footer th:insert="layout :: footer"></footer>
</body>
</html>