<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout :: header"></head>
<body class="container">
    <div th:insert="menu :: menu"></div>

    <a href="/car-create" class="btn btn-primary btn-sm">New Car</a>
    <table class="table">
        <thead>
            <tr>
                <th>No.</th>
                <th>Brand</th>
                <th>Year</th>
                <th>Owner</th>
                <th>Color</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="car, row : ${cars}">
                <td th:text="${row.count}"></td>
                <td th:text="${car.getBrand()}"></td>
                <td th:text="${car.getYear()}"></td>
                <td th:text="${car.getOwner().getFirstName()}"></td>
                <td th:text="${car.getColor()}"></td>
                <td>
                    <a th:href="@{/car-edit/{id}(id=${car.getId()})}"
                       class="btn btn-primary btn-sm">Edit</a>

                    <a th:href="@{/car-delete/{id}(id=${car.getId()})}"
                       class="btn btn-primary btn-sm">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <footer th:insert="layout :: footer"></footer>
</body>
</html>