<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout :: header"></head>
<body class="container">
    <div th:insert="menu :: menu"></div>
    <h2>Welcome Home <span th:text="${session.name}"></span></h2>
    <footer th:insert="layout :: footer"></footer>
</body>
</html>